.home {
    background-image: url('../assets/home.jpeg');
    background-position: center 70%;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
}

.home h2 {
    color: #F4F1FA;
    font-weight: 700;
    font-size: 54px;
    line-height: 59.4px;
    text-shadow: 0 4px 4px #261731;
    text-align: center;
}

.home p {
    color: #F4F1FA;
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
    text-shadow: 0 4px 11px #342140;
    text-align: center;
}

.about {
    background-color: #F4F1FA;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
}

.about .container-page {
    gap: 20px;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

/* .about .container-page .description {
    width: 37.5%;
} */

.about .container-page .description h2 {
    color: #402751;
    font-size: 32px;
    line-height: 35.2px;
    font-weight: 700;
    margin-bottom: 20px;
}

.about .container-page .description p {
    color: #402751;
    line-height: 25.2px;
}

.about .container-page .image {
    max-width: 778px;
}

.about .container-page .image img{
    border-radius: 16px;
} 

@media only screen and (max-width: 768px) {
    .about .container-page {
        grid-template-columns: initial;
    }
}